.home-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: var(--cl-lightblue-bg);
}

.post-wrapper {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 30px;
	background-color: var(--cl-white-bg);
	display: flex;
	flex-direction: column;
	width: clamp(400px, 70vw, 1200px);
	height: 500px;
	border-radius: 20;
	overflow: hidden;
}

.post-wrapper .top-bar {
	max-height: 52px;
	padding: 0.6rem 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid var(--cl-grey-ol);
}

.post-content.fullsize {
	display: flex;
	flex-direction: row;
	max-height: calc(100% - 52px);
}

/* text section of the post */

.post-content.fullsize .content {
	flex: 1;
	overflow-y: auto;
	padding-bottom: 2rem;
	flex-basis: 6rem;
}

.post-content.fullsize .content article {
	padding: 0.5rem 1.5rem;
}
/*  */
.avatar-img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
}

.post-content .image-container {
	max-height: 100%;
	border-right: 1px solid var(--cl-grey-ol);
	flex: 1;
}
.post-content .image-container img {
	width: 100%;
	height: 100%;
}

.post-control-wrapper {
	gap: 1.5rem;
	display: flex;
	padding: 0.3rem 0.5rem;
	border-top: 1px solid var(--cl-grey-ol);
	border-bottom: 1px solid var(--cl-grey-ol);
}

.interaction-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.content article .description {
	font-size: 1.2rem;
}

.post-address {
	padding: 0.3rem 0.5rem;
	border: 1px solid var(--cl-grey-ol);
	border-radius: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.post-address p {
	border-right: 1px solid var(--cl-grey-ol);
}

.interaction-icon {
	width: 20px;
}

.interaction-wrapper button {
	background: none;
	font-size: 1.2rem;
}
.interaction-wrapper button:active {
	font-size: 1rem;
}
